
$margin:             0;
$padding:            0;
$text-align:         center;
$margin-auto:        0 auto;
$value50px:          50px;
$value10px:          10px;
$color:              white;
$font:               900;
$value13px:          13px;
$value20px:          20px;
$value25px:          25px;
$cursor:             pointer;
$background:         rgba(255, 255, 255, 0.3);
$value12px:          12px;


